html {
	margin: 0; 
	font-size: 2vw; 
}

.CMDLine .value, .CMDLine .prompt, .CMDOutput .value, .CMDOutput .prompt, .CMDErrorMessage .prompt, .CMDErrorMessage .value{
	border-radius: 0rem; 
	border: 0px solid black; 
	padding: 0;/*0.5rem;*/ 
	margin: 0rem; 
	display: inline;
	background: black; 
	color: white; 
	font-family: monospace; 
	font-size: 2rem; 
	vertical-align: top; 
	height: 1em; 
}

.value {
	width: 80vw; 
}

.CMDOutput  .prompt, .CMDOutput  .value {
	color: lime; 
}

.CMDErrorMessage  .prompt, .CMDErrorMessage  .value {
	color: red; 
}


.CMDLine .value {
    resize: none;
    overflow: hidden;
    min-height: 1em;
}

